@import './base.css';

a {
  text-decoration: none;
  color: var(--vt-c-black-mute);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(300, 24%, 80%, 0.53);
    border-radius: 100px;
  }
}
